# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

next.config.mjs

# Next.js 설정 무시
**/next.config.mjs

# 민감 파일 무시
**/application*.yml
**/setup-env.sh
**/deploy*.sh
**/next.config.mjs
*.mjs

# OS별로 생기는 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 환경 변수 파일 (루트에 있는 경우만)
.env